/***************************************************************
MAIN - CSS
***************************************************************/

* {
	box-sizing: border-box;
}

header{
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
}

h1, h2{
	font-size:30px;
	font-family: Georgia;
	font-weight: bold;
}

h1 {
	color:#fff;
	margin-left:20%;
	padding:20px 20px;
	float:left;
	background:#4aa8a2;
}

h2 {
	color:#38857f;
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom: 2px solid #ccc;
}

h3 {
	font-family: Georgia;
	font-weight: bold;
	font-size: 20px;
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom: 1px solid #ddd;
	color:#38857f;
}

nav {
	margin-right: 20%;
	padding-top: 25px;
	float:right;
	color:#ddd;
}

nav > a{
	color:#777;
	text-decoration: none;
	padding:5px;
	font-size:17px;
}

nav > a:hover {
		border-radius: 5px;
    color: white;
    background-color: #4aa8a2;
}


#mainBody {
	background-image: url("../images/black-textile-pattern.jpg");
	padding-bottom:50px;
	min-height:90vh;
}

#bodyLeft {
	margin:40px 30px 40px 20%;
	border-radius: 4px;
	border: 1px solid #aaa;
	background-color: white;
	padding:20px 20px 0px 20px;
	width:36%;
	float:left;
}

#bodyLeft:hover, #bodyRight:hover {
	background-color: #efefef;
}

#profilePic {
	margin-right: 20px;
	border: 2px solid #ccc;
	border-radius: 5px;
	width:200px;
	float:left;
}

.bodyText {
	font-family: Arial;
	line-height: 1.7;
	color:#444;
	margin-bottom:20px;
}

#bodyRight{
	margin:0 20% 0 0 ;
	border-radius: 4px;
	border: 1px solid #aaa;
	margin-top:40px;
	background-color: white;
	padding:20px;
	width:12%;
	float:left;
}

.socialIcons {
	width:30%;
	border: 1px solid #ccc;
	border-radius:15%;
	background: white;
	opacity:;
}

.socialIcons:hover {
		opacity: 1;
		border: 3px solid #4aa8a2;
		background:#4aa8a2;
}

footer {
	letter-spacing: 1px;
	color:#ddd;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width:100%;
	text-align:center;
	padding:22px;
	-webkit-column-rule: #eee;
	-moz-column-rule: #eee;
	-o-column-rule: #eee;
	column-rule: #eee;
	font-size:14px;
	background:#666;
	border-top:7px solid #4aa8a2;
}

.clearfix {
	clear:both;
}

/***************************************************************
CONTACT - CSS
***************************************************************/

#contactForm > label {
	display:block;
	margin-top:10px;
	color:#333;
}

.textInput {
	width:100%;
	border: 1px solid #bbb;
	padding:5px;
	color:#666;
}

#contactForm > textarea {
	border: 1px solid #bbb;
	width:100%;
	height:200px;
	padding:5px;
}

.submitButton {
	color:#eee;
	padding:8px 20px;
	background: #4aa8a2;
	border: #3aa8a2;
	margin: 12px 0;
}

/***************************************************************
PORTFOLIO - CSS
***************************************************************/

.project {
	width:45%;
	float:left;
	margin:0px 5% 20px 0px;
	position:relative;
}

.project > img {
	width:100%;
	display: block;
}

.projectLabel {
	position:absolute;
	bottom:6%;
	width:100%;
	text-align: center;
	padding:10px;
	background-color: #4aa8a2;
	font-size: 18px;
	color:#eee;
	font-weight: bold
}